* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#board {
  display: flex;
  width: 380px;
  flex-wrap: wrap;
}

.square {
  width: 125px;
  height: 125px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 32%;
  margin: 2px;
  height: 100%;
  border: 1px solid black;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.displayContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .jumbotron {
    padding: 2rem 0rem;
  }
}
